:root {
    --colorpage: rgb(48, 48, 48);
    --colorcode: rgb(62, 62, 62);
}
body {
    background-color: var(--colorpage);
    margin:0px;
    font-family: 'Robot monospace', monospace, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
#panel {
    position: fixed;
    border-right: 3px solid gray;
    width: 250px;
    height: 100%;
}
#panel h3 {
    color: rgb(98, 98, 255);
} #panel h1{
    color: rgb(116, 116, 240);
    
} #sidenav ul {
    list-style-type: none;  
    margin: 0px;
}#sidenav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}#content {
    position: absolute;
    left: 256px;
    top:0px;
    background-color: var(--colorpage);
    color: white;
} #panelscren {
    color: blue;
    padding: 10px;
    text-decoration: none;
} .borders {
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    width: 220px;
    margin: 0px;
} .box {
    position: absolute;
    left: 180px;
    top: 20px;
    border: 2px solid rgb(116, 116, 240);
    color: rgb(116, 116, 240);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
} #paneltitle {
    text-decoration: none;
}
#pages {
    background-color: var(--colorpage);
    color: white;
    margin-left: 50px;
}
.boxcode {
    background-color: var(--colorcode) !important;
    padding: 15px;
    border-radius: 3px;
    box-shadow: none;
    width: 90%;
}
.boxcode button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 1s;
}
#pages a {
    color: orange;
}
.resultBlock {
    width: 400px;
    height: 350px;
    overflow: hidden;
}
.info {
    color: rgb(133, 133, 133);
}
.element {
    color: rgb(109, 109, 254);
}