        body {
            background-color: rgb(48, 48, 48);
            margin:0px;
            font-family: 'Robot monospace', monospace;
            font-size: 13px;
        }
        #panel {
            padding: 10px;
            width:200px;
        } #panel h1{
            color: rgb(116, 116, 240);
            
        } #sidenav ul {
            list-style-type: none;  
            margin: 0px;
        }#sidenav a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }#content {
            position: absolute;
            left: 250px;
            top:0px;
            background-color: white;
            
        } #panelscren {
        color: blue;
        padding: 10px;
        text-decoration: none;
        } .borders {
            border-bottom: 2px solid gray;
            padding-bottom: 5px;
            width: 220px;
            margin: 0px;
        } .box {
            position: absolute;
            left: 180px;
            top: 30px;
            border: 2px solid rgb(116, 116, 240);
            color: rgb(116, 116, 240);
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 10px;
        } #paneltitle {
            text-decoration: none;
        }
